@model ReservaCitasBackend.Modelos.MCitas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MCitas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Estilista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Estilista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Servicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Servicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Citas">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
